*{
    padding: 0;
    margin: 0;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #55b6ff, #833ab4);
  }
  
  form {
    display: flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg, #ce6bff, #e0b8fe);
    padding: 50px 65px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  form h2 {
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    color: white;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
  }
  
  form button {
    background: linear-gradient(135deg, #55b6ff, #833ab4);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toggle-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .toggle-register p {
    margin-bottom: 10px;
  }
  
  .toggle-register button {
    background: transparent;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
  .register-form {
    display: none;
    /* remove the background gradient and update with the desired color */
    background-color: #77ff72;
  }
  
  .login-form {
    display: block;
  }