body{
    background: rgb(255,224,123);
    background: -moz-linear-gradient(90deg, rgba(255,224,123,0.6) 0%, rgba(255,147,228,0.6) 19%, rgba(138,210,246,0.6) 40%, rgba(243,172,176,0.6) 60%, rgba(192,255,192,0.6) 80%, rgba(247,247,150,0.6) 95%);
    background: -webkit-linear-gradient(90deg, rgba(255,224,123,0.6) 0%, rgba(255,147,228,0.6) 19%, rgba(138,210,246,0.6) 40%, rgba(243,172,176,0.6) 60%, rgba(192,255,192,0.6) 80%, rgba(247,247,150,0.6) 95%);
    background: linear-gradient(90deg, rgba(255,224,123,0.6) 0%, rgba(255,147,228,0.6) 19%, rgba(138,210,246,0.6) 40%, rgba(243,172,176,0.6) 60%, rgba(192,255,192,0.6) 80%, rgba(247,247,150,0.6) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe07b",endColorstr="#f7f796",GradientType=1);
  }
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #f518ff, #4c4ff6, #3db1ff);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    font-size: 20px;
    height: 20px;
  }
  
  .navigation a {
    font-size: 18px;
    color: white;
    text-decoration: none;
   display: inline-block;
    padding: 5px 20px;
    border-radius: 7px;
    transition: background-color 0.2s ease-in-out;
    margin: 0 10px;
  }
  
  .navigation a:hover {
    background-color: #ffffff;
    color: #000;
    border-radius: 7px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
  }
  
  .grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #dcd6bc;
    border: 10px solid #dcd6bc;
    margin-bottom: 10px;
  }
  
  div {
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  
  }
  .valid {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
  }
  
  .checked {
    height: 40px;
    width: 40px;
    border: 2px solid;
    background-color: #cecab7;
    border-color: #9c998d;
    box-sizing: border-box;
  }
  
  .bomb {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
  }
  
  .one {
    color: #e76346;
  }
  
  .two {
    color: #4199d3;
  }
  
  .three {
    color: #57da59;
  }
  
  .four{
    color: #bb41d3;
  }
  
  #result {
    margin-top: 5px;
    color: #ff3636;
  }
  
  