* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 font-family: 'Garamond', serif;
font-size: larger;
}

body {
  height: 100vh;
  width: 100vw;
  /* display: flex; */
  background: #f8ede3;
}

h1 {
  text-align: center;
}

.memory-game {
  padding: 40px;
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 0px;
  position: absolute;
  border-radius: 0px;
  background: #d0b8a8;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.btn {
  color: #5f00ac;
  margin: 10px;
  width: 140px;
  height: 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 22px;
  display: flexbox;
  border: 0px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0px 0px 14px -3px #ffffff;
  background-image: linear-gradient(
    45deg,
    #e0b3ff 0%,
    #e8d2bd 51%,
    #dbb6ee 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #7e04db;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.95);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center h3 {
  padding-bottom: 20px;
  font-size: 25px;
  font-style: oblique;
  font-weight: 800;
}


.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f518ff, #4c4ff6, #3db1ff);
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 20px;
  height: 20px;
}

.navigation a {
  font-size: 20px;
  color: white;
  text-decoration: none;
 display: inline-block;
  padding: 8px 16px;
  border-radius: 7px;
  transition: background-color 0.2s ease-in-out;
	margin: 0 10px;
}

.navigation a:hover {
	background-color: #fff;
	color: #000;
  border-radius: 7px;
}
h1{
  margin-top: 70px;
}
#main-menu.hidden {
  display: none;
}