body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(25, 25, 25);
    color: white
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #85ff7a;
    color: rgb(0, 0, 0);
    border-color: white;
}

.present {
    background-color: #ffec96;
    color: rgb(0, 0, 0);
    border-color: white;
}

.absent {
    background-color: #ff6767;
    color: rgb(0, 0, 0);
    border-color:white;
}


.keyboard-row {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 80px;
}

.key-tile {
    width: 40px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 390px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #769fff;
    font-family: inherit;
    padding: 0.2em 0.8em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
  
  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #f518ff, #4c4ff6, #3db1ff);
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    font-size: 20px;
    height: 10px;
  }
  
  .navigation a {
    font-size: 20px;
    color: white;
    text-decoration: none;
   display: inline-block;
    padding: 8px 16px;
    border-radius: 7px;
    transition: background-color 0.2s ease-in-out;
      margin: 0 10px;
  }
  
  .navigation a:hover {
      background-color: #fff;
      color: #000;
    border-radius: 7px;
  }
  
  #result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 75px;
  }
  