body {
 font-family: 'Garamond', serif;
 font-size: larger;
  background-color: #F8EDE3;
  color: black;
  text-align: center;
  height: 100%;
  font-size: 18px;
}

.wrappper {
  width: 100%;
  margin: 0 auto;
}

canvas {
  color: black;
  border: black dashed 2px;
  padding: 15px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}
h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1.2em;
}

Button {
  background: #F8EDE3;
  border-radius: 5px;
  border: solid 1px black;
  color: black;
  width: 35px;
  height: 35px;
  margin: 0 10px 10px 0;
  outline: none;
}
Button:hover {
  transition: 0.5s;
  background: black;
  border: solid 1px black;
  color: #F8EDE3;
}

.selected {
  background: black;
  border: solid 1px black;
  color: #F8EDE3;
}

.btn {
  border-radius: 10px;
  background: #F8EDE3;
  color: black;
  border: solid 1px black;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  padding: 14px 14px;
  width: 180px;
  height: 50px;
  margin: 50px 10px 50px 10px;
  font-family: 'Courier New', monospace;
  outline: none;
}
.btn:hover {
  transition: 0.5s;
  background: black;
  border: solid 1px black;
  color: #F8EDE3;
}